{% extends "base.html" %}
{% block content %}

{% if validlink %}
  <h4>Set a new password</h4>
  <form method="post">
    {% csrf_token %}
    {{ form.errors }}
    {{ form.as_div }}
    <input type="submit" value="Set password" class="btn btn-primary">
  </form>
{% else %}
  <h4>Invalid reset link</h4>
  <p>
    This password reset link is invalid, possibly because it has already been
    used or has expired. Please <a href="{% url 'password_reset' %}">request a
    new one</a>.
  </p>
{% endif %}

{% endblock %}
