
{% load static %}
<html>
  <head>
    <title>Django Builder - TaskBoard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    {% block extrahead %}{% endblock %}
  </head>
  <body>
    {% block allcontent %}
    <div id="content" class="container">
      <nav class="d-flex justify-content-end align-items-center py-2">
        {% if user.is_authenticated %}
          <a class="mr-3" href="{% url 'profile' %}">{{ user.username }}</a>
          <form method="post" action="{% url 'logout' %}" class="m-0">
            {% csrf_token %}
            <button type="submit" class="btn btn-sm btn-light">Log out</button>
          </form>
        {% else %}
          <a class="mr-3" href="{% url 'login' %}">Log in</a>
          <a href="{% url 'signup' %}">Sign up</a>
        {% endif %}
      </nav>
      <h2>Home: <a href="{% url 'index' %}">TaskBoard</a></h2>
      <div class="card">
        <div class="card-body">
          <p class="card-text">{% block content %}{% endblock %}</p>
        </div>
      </div>
    </div>
</div>
  {% endblock %}
  </body>
</html>
